.bitcoin {
    background-color: #fafafa; 
    padding: 20px 0;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}

.bitcoin .inner{
    display: flex; 
    gap: 20px
}
.bitcoin .inner .value{
    border: 1px solid #ccc; 
    text-align: center; 
    padding: 20px;
}
.bitcoin .update{
    text-align: center;
}

