.counter {
    margin-bottom: 70px; 
    text-align: center; 
    background-color: #fafafa; 
    padding: 20px; 
    border: 2px solid #0b0000; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 600px; 
    position: relative; 
    left: 0; 
    margin: 0 auto; 
}

.counter h1 {
    font-size: 50px; 
    margin: 10px 0; 
}

.counter .btns {
    display: center; 
    gap: 20px; 
    align-items: center; 
    margin-top: 20px; 
}

.popup {
    background-color: rgba(255, 255, 255, 0.8); 
    color: rgb(6, 0, 0); 
    padding: 10px; 
    border-radius: 5px; 
    margin-top: 10px; 
}
